<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>{% block title %}Pitchify{% endblock %}</title>
    <link href="{% static 'css/reset.css' %} " rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
          integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
          crossorigin="anonymous">
    <link href="{% static 'css/global.css' %} " rel="stylesheet">

    {% block styles %}

    {% endblock %}
</head>

<body>
<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand topnav" href="/Pitchify">Pitchity</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    {#            <h2>you are registered as {{ type }}</h2>#}
                    {% if type == 'C' %}
                        <li><a href="">Create Pitch</a></li>
                        <li><a href="">My Pitches</a></li>
                    {% endif %}
                    {% if type == 'I' %}
                        <li><a href="">View Pitches</a></li>
                        <li><a href="">My Investments</a></li>
                    {% endif %}
                    <li><a href="/Pitchify/logout/">Logout</a></li>
                {% else %}
                    <li><a href="/Pitchify/register/">Register Here</a></li>
                    <li><a href="/Pitchify/login/">Login</a></li>
                {% endif %}
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

{% block body_block %}{% endblock %}


<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"
        integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ=="
        crossorigin="anonymous"></script>
<script src="{% static 'js/global.js' %} "></script>
{% block scripts %} {% endblock %}
</body>
</html>