{% extends ext_template %}

{% load staticfiles %}
{% load app_filters %}

{% block title %}My Pitches{% endblock %}

{% block styles %}
    {{ block.super }}
    <link href="{% static 'css/bootstrap-dialog.css' %} " rel="stylesheet">
{% endblock %}


{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/bootstrap-dialog.js' %} "></script>
    <script src="{% static 'js/investor_offers_child.js' %} "></script>
{% endblock %}


{% block bottom %}

{% endblock %}

{% block top_pitches %}

{% endblock %}


{% block offers %}
    {% if not offers %}
        <div id="your_offers_success" class="alert alert-warning">
            You don't have any offers. Wait for the investors to make an offer.
        </div>
    {% else %}
        {% for offer in offers %}
            <div id="offer_{{ offer.id }}" class="alert alert-{% if offer.status == offer.PENDING %}info{% elif offer.status == offer.ACCEPTED %}success{% else %}danger{% endif %}">
                <div class="text-left">
                    <div class="full-width ">
                        <p>
                            <span> {{ offer.stock_count }} stocks for {{ offer.price }}£</span>
                        </p>
                    </div>

                    <p>{{ offer.message }}</p>

                    {% if offer.status == offer.PENDING %}
                        <p>Answer: {{ offer.answer }}</p>

                        <div>
                            <textarea>

                            </textarea>
                        </div>
                        <div>
                            <button onClick="acceptOffer({{ offer.id }}, true)">
                                Accept offer
                            </button>
                            <button onClick="acceptOffer({{ offer.id }}, false)">
                                Accept offer
                            </button>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    {% endif %}

    <script>
        function acceptOffer(offerId, accept) {
            // TODO: implament
        }
    </script>
{% endblock %}