{% extends ext_template %}

{% load staticfiles %}
{% load app_filters %}

{% block title %}My Pitches{% endblock %}

{% block styles %}
    {{ block.super }}
    <link href="{% static 'css/bootstrap-dialog.css' %} " rel="stylesheet">
{% endblock %}


{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/company_offers_child.js' %} "></script>
{% endblock %}


{% block bottom %}

{% endblock %}

{% block top_pitches %}

{% endblock %}



{% block edit %}
<button class="btn btn-warning div-margined" id="edit-btn">Edit</button>
<hr/>

<div id="edit-success" class="alert alert-success alert-dismissable" style="display: none;">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    Successfully edited!
</div>

<div id="edit" style="display: none;">
    <div class="form-group">
        <label class="text" for="edit-description">Description</label>
        <textarea class="form-control"  id="edit-description">{{ pitch.description }}</textarea>
    </div>

    <div class="form-group">
        <label class="text" for="edit-youtube">Youtube url</label>
        <input type="url" class="form-control" id="edit-youtube" value="https://www.youtube.com/watch?v={{ pitch.youtube_video_id }}"/>
    </div>

    <div class="form-group">
        <input type="submit" class="btn btn-success" value="Submit changes" onClick="editPitch({{ pitch.id }})" />
    </div>
</div>
{% endblock %}




{% block offers %}
    {% if not offers %}
        <div id="your_offers_success" class="alert alert-warning">
            You don't have any offers. Wait for the investors to make an offer.
        </div>
    {% else %}
        {% for offer in offers %}
            <div id="offer_{{ offer.id }}" class="alert alert-{% if offer.status == offer.PENDING %}info{% elif offer.status == offer.ACCEPTED %}success{% else %}danger{% endif %}">
                <div class="text-left">
                    <div class="full-width ">
                        <p>
                            <span><a href="{% url 'pitchify:profile' offer.investor.user.id %}">{{ offer.investor.user.username }}:</a> {{ offer.stock_count }} stocks for {{ offer.price }}£</span>
                        </p>
                    </div>

                    <p>{{ offer.message }}</p>

                    {% if offer.status != offer.PENDING %}
                        <p>Answer: {{ offer.answer }}</p>
                    {% else %}

                        <div id="answer_{{ offer.id }}">
                            <label for="textarea_{{ offer.id }}">Answer:</label>
                            <textarea id="textarea_{{ offer.id }}" class="form-control"></textarea>
                        </div>
                        <div class="div-margined" id="buttons_{{ offer.id }}">
                            <button class="btn btn-success" onClick="acceptOffer({{ offer.id }}, true)">
                                Accept offer
                            </button>
                            <button class="btn btn-danger float-right" onClick="acceptOffer({{ offer.id }}, false)">
                                Decline offer
                            </button>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}