{% extends 'pitchify/base.html' %}

{% load staticfiles %}

{% block title %}Add Pitch{% endblock %}

{% block styles %}
    <link href="{% static 'css/create_pitch.css' %} " rel="stylesheet">
{% endblock %}

{% block body_block %}
    <div class="container">
        <div class="col-lg-3"></div>
        <div class="row col-lg-6">
            <form class="form form-signin" method="post" action="/pitchify/create_pitch/">
                {% csrf_token %}
                {#    {{ pitch_form }}#}
                {% for field in pitch_form %}
                    {% if  field.field.widget.input_type == null %}
                        {{ field }}
                    {% else %}
                        <input class="form-control input-lg" name="{{ field.name }}"
                               placeholder="{{ field.label }}"
                               type="{{ field.field.widget.input_type }}"/>
                    {% endif %}
                {% endfor %}
                <button class="btn btn-lg btn-primary btn-block" type="submit">Pitch it!</button>
            </form>
        </div>
        <div class="col-lg-3"></div>
    </div>
{% endblock %}

{% block scripts %}

    <script src="{% static 'js/create_pitch.js' %}"></script>

{% endblock %}