{% extends 'pitchify/base.html' %}

{% load staticfiles %}

{% block title %}Pitchify{% endblock %}

{% block styles %}
    <link href="{% static 'css/index.css' %} " rel="stylesheet">
{% endblock %}

{% block body_block %}
    <div class="indexInfo">
        <div class="container">
            <div class="row">
                {# check if user is logged in #}
                {% if user.is_authenticated %}
                    <div class="container">
                        <h3 class="slogan">
                            Pitchify says... hello {{ user.username }}!
                        </h3>
                        {# if user is a Company show top 5 selling pitches #}
                        {% if context.type == 'C' %}
                            <h3>
                                Here are your top 5 selling pitches!
                            </h3>
                            {# table for the pitches #}
                            <table class="table" id="myPitches">
                                <thead>
                                <tr>
                                    <th class="text-center">Pitch</th>
                                    <th class="text-center">Sold Stocks</th>
                                    <th class="text-center">Total Stocks</th>
                                </tr>
                                </thead>
                                <tbody class="table-body">
                                {% for pitch in top_five_selling_pitches %}
                                    <tr data-progress="{{ pitch.percentage_sold }}">
                                        <td class="text-center">
                                            {{ pitch }}
                                        </td>
                                        <td class="text-center">
                                            {{ pitch.sold_stocks }}
                                        </td>
                                        <td class="text-center">{{ pitch.total_stocks }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                    </div>
                {# if the user is not logged in, show login and register #}
                {% else %}
                    <div class="col-md-7">
                        <h3 class="slogan">
                            Pitchify helps you connect and share with the people in your life.
                        </h3>
                    </div>
                    <div class="col-md-5">
                        <form class="form-signin span8" id="user_form" method="post" action="/pitchify/register/"
                              enctype="multipart/form-data">
                            {% csrf_token %}

                            <h2>Create your account</h2>

                            <div id="userForm">
                                {% for field in user_form %}
                                    {% if  field.field.widget.input_type == null %}
                                        {{ field }}
                                    {% else %}
                                        <input class="form-control input-lg" name="{{ field.name }}"
                                               placeholder="{{ field.label }}"
                                               type="{{ field.field.widget.input_type }}"/>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div id="companyForm">
                                {% for field in company_form %}
                                    {% if  field.field.widget.input_type == null %}
                                        {{ field }}
                                    {% else %}
                                        <input class="form-control input-lg" name="{{ field.name }}"
                                               placeholder="{{ field.label }}"
                                               type="{{ field.field.widget.input_type }}"/>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div id="investorForm">
                                {% for field in investor_form %}
                                    <input class="form-control input-lg" name="{{ field.name }}"
                                           placeholder="{{ field.label }}"
                                           type="{{ field.field.widget.input_type }}"/>
                                {% endfor %}
                            </div>

                            <br/>

                            <span class="help-block">By clicking Create my account, you agree to our Terms and that you have read our Data Use Policy, including our Cookie Use.</span>
                            <button class="btn btn-lg btn-primary btn-block signup-btn" type="submit">
                                Create my account
                            </button>
                        </form>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    </div>
{% endblock %}

{% block scripts %}

    <script src="{% static 'js/index.js' %} "></script>

{% endblock %}