{% extends 'pitchify/base.html' %}

{% load staticfiles %}

{% block title %}Pitches{% endblock %}

{% block scripts %}
    <script src="{% static 'js/investor_pitches.js' %} "></script>
{% endblock %}

{% block styles %}
    <link href="{% static 'css/investor_pitches.css' %} " rel="stylesheet">
{% endblock %}

{% block body_block %}
    <div class="indexInfo">
        <div class="container">
            {% block company_pitches_block %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
