{% extends 'pitchify/base.html' %}

{% load staticfiles %}

{% block title %}Pitches{% endblock %}

{% block scripts %}
    <script src="{% static 'js/investor_pitches.js' %} "></script>
{% endblock %}

{% block styles %}
    <link href="{% static 'css/investor_pitches.css' %} " rel="stylesheet">
{% endblock %}

{% block body_block %}
    <div class="indexInfo">
        <div class="container" id="main-container">
            <table class="table table-hover" id="clickable-table">
                <thead>
                <tr>
                    <th class="text-center">Pitch</th>
                    <th class="text-center">Company name</th>
                    <th class="text-center">Description</th>
                    <th class="text-center">Stocks left</th>
                    <th class="text-center">Invested</th>
                    <th class="text-center hidden">Edit</th>
                </tr>
                </thead>
                <tbody>
                {% for pitch in pitches %}
                    <tr class="tr-clickable">
                        <td class="text-center">{{ pitch.title }}</td>
                        <td class="text-center">{{ pitch.company.user.username }}</td>
                        <td class="text-center">{{ pitch.description }}</td>
                        <td class="text-center">{{ pitch.stocks_left }}</td>
                        <td class="text-center">{{ pitch.invested }}</td>
                        <td class="text-center hidden"><a href="{% url 'pitchify:pitch' pitch.id %}">EDIT</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
