<!DOCTYPE html>
<html>
    <head>
        <title>Pitchify</title>
    </head>

    <body>
        <h1>Register with Pitchify</h1>

        {% if registered %}
        Pitchify says: <strong>thank you for registering!</strong>
        <a href="/Pitchify/login">Click to log in.</a><br />
        {% else %}
        Pitchify says: <strong>register here!</strong><br />

        <form id="user_form" method="post" action="/Pitchify/register/"
                enctype="multipart/form-data">

            {% csrf_token %}

            <!-- Display each form. The as_p method wraps each element in a paragraph
                 (<p>) element. This ensures each element appears on a new line,
                 making everything look neater. -->
            {{ user_form.as_p }}
            <h2>Register Company</h2>
            {{ company_form.as_p }}
            <h2>Register Investor</h2>
            {{ investor_form.as_p }}

            <!-- Provide a button to click to submit the form. -->
            <input type="submit" name="submit" value="Register" />
        </form>
        {% endif %}

        <div class="container">
        {% if registered %}
        <p> Thank you for registering.

        <p><a href="/rango/login/">Login</a> when you are ready to rango.</p>
        {% else %}

        <form class="form-signin span8" id="user_form" method="post" action="/rango/register/"
              enctype="multipart/form-data">
            {% csrf_token %}
            <h2 class="form-signin-heading">Sign up Here</h2>
            <!-- Display each form here -->

            {% for field in user_form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text}}<br/>
            {{ field.name }}<br/>
            {% endfor %}


            {% for field in profile_form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text}}<br/>
            {{ field.name }}<br/>
            {% endfor %}

            <br/>
            <!-- Provide a button to click to submit the form. -->
            <input class="btn btn-primary" type="submit" name="submit" value="Register"/>
        </form>
        {% endif %}
    </div>
    </body>
</html>