body {
    padding-top: 50px;
    padding-bottom: 40px;
    background-color: #eee;
}

.form .form-control {
    margin-bottom: 10px;
}

.full-width {
    width: 100%
}

.text-left {
    text-align: left;
}

.float-right {
    float: right;
}