.indexInfo {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    min-height: 900px;
    background-size: cover;
}

.block {
    display: block;
}

.center {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.div-margined {
    margin-top: 20px;
}

#main-container {
    width: 900px;
    max-width: 900px;
}

.text {
    color: #eeeeee;
}

.progressbar-container {
    width: 400px;
}

#stocks {
    margin-bottom: 15px;
}

#description {
    text-align: justify;
    display: inline-block;
}

.display-cell {
    display : table-cell;
}

.display-table {
    display: table;
}

.vertical-top {
    vertical-align: top;
}

#top-pitches {
    display: table-cell;
    padding-left: 20px;
    width: 300px;
    vertical-align: top;
}

.pitch-image {
    width: 75px;
}

.full-width {
    width: 100%
}

.vertical-middle {
    vertical-align: middle;
}

#pitch-main {
    display: table-cell;
    width: 600px;
}