.indexInfo {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    min-height: 900px;
    background-size: cover;
}

table {
    position: relative;
    overflow: hidden;
    border-collapse: collapse;
}

tr, td {
    background: none;
    color: #eee;
    cursor: pointer;
}

.onTop {
    z-index: 2;
    position: relative;
}

.progress {
    position: absolute;
    left: -100%;
    width: 100%;
    z-index: 1;
    background: #9bc4ff;
    transition: left 1s;
}

