table {
    position: relative;
    overflow: hidden;
    border-collapse: collapse;
}

tr, td {
    background: none;

}

.progress {
    position: absolute;
    left: -100%;
    width: 100%;
    z-index: -1;
    background: #bdffcf;
    transition: left 1s;
}